<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{{ site.baseurl }}{% link assets/js/radar.js %}"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/styles.scss %}">
</head>

<body>
<div class="radar-wrapper">
    <svg id="radar"></svg>
</div>
<script>
    radar_visualization({
        svg_id: "radar",
        width: 1450,
        height: 1000,
        colors: {
            background: "#fff",
            grid: "#999",
            inactive: "#ccc"
        },
        title: "meinestadt.de Tech Radar — 2022.01",
        quadrants: [
            { name: "Languages & Frameworks" },
            { name: "Tools" },
            { name: "Infrastructure" },
            { name: "Datastores & Management" },
        ],
        rings: [
            { name: "ADOPT", color: "#5abc6b" },
            { name: "TRIAL", color: "#1ba8a8" },
            { name: "ASSESS", color: "#ffda00" },
            { name: "HOLD", color: "#ff5151" }
        ],
        print_layout: true,
        // zoomed_quadrant: 0,
        //ENTRIES
        entries: [
            {
                "label":"Akamai",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Akka Streams",
                "ring":1,
                "quadrant":3,
                "moved":0,
                "description":""
            },
            {
                "label":"Ansible",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"provisioning & config management"
            },
            {
                "label":"Apache http Server",
                "ring":3,
                "quadrant":2,
                "moved":0,
                "description":""
            },
            {
                "label":"Apache Solr",
                "ring":0,
                "quadrant":3,
                "moved":0,
                "description":"Solr is the popular, blazing-fast, open source enterprise search platform built on Apache Lucene\u2122"
            },
            {
                "label":"Apache Zookeeper",
                "ring":0,
                "quadrant":3,
                "moved":0,
                "description":"ZooKeeper is a centralized service for maintaining configuration information, naming, providing distributed synchronization, and providing group services."
            },
            {
                "label":"Autoprefixer",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Autoprefixer parses your CSS and adds vendor prefixes to CSS rules using values from Can I Use."
            },
            {
                "label":"AWS",
                "ring":0,
                "quadrant":2,
                "moved":0,
                "description":"Amazon Web Services offers reliable, scalable and economical cloud computing services."
            },
            {
                "label":"AWS Auth NetSuite",
                "ring":1,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"AWS API Gateway",
                "ring":0,
                "quadrant":2,
                "moved":0,
                "description":"Amazon API Gateway is an AWS service for creating, publishing, maintaining, monitoring, and securing REST, HTTP, and WebSocket APIs at any scale."
            },
            {
                "label":"AWS DocumentDB",
                "ring":0,
                "quadrant":3,
                "moved":0,
                "description":"Amazon DocumentDB (with MongoDB compatibility) is a fast, scalable, highly available, and fully managed document database service."
            },
            {
                "label":"AWS ElastiCache",
                "ring":1,
                "quadrant":3,
                "moved":0,
                "description":""
            },
            {
                "label":"AWS MSK",
                "ring":1,
                "quadrant":3,
                "moved":0,
                "description":""
            },
            {
                "label":"AWS S3",
                "ring":0,
                "quadrant":2,
                "moved":0,
                "description":""
            },
            {
                "label":"BaaS",
                "ring":0,
                "quadrant":2,
                "moved":0,
                "description":"Backup as a Service"
            },
            {
                "label":"Babel",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Babel is a free and open-source JavaScript transcompiler that is mainly used to convert ECMAScript 2015+ (ES6+) code into a backwards compatible version of JavaScript that can be run by older JavaScript engines."
            },
            {
                "label":"Bareos",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Backup Software"
            },
            {
                "label":"Cisco",
                "ring":0,
                "quadrant":2,
                "moved":0,
                "description":"Network Devices"
            },
            {
                "label":"Clojure \/ ClojureScript",
                "ring":3,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"CommerceTools",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"Conduktor",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Kafka Desktop Client - Devops tool with a beautiful UI."
            },
            {
                "label":"Confluence",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Confluence is your team workspace where knowledge and collaboration meet."
            },
            {
                "label":"Cucumber",
                "ring":1,
                "quadrant":0,
                "moved":0,
                "description":"Cucumber is a behavior-driven development tool for the textual specification of requirements for software and for the automated checking of this description for its correct implementation."
            },
            {
                "label":"Cypress",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":"Cypress is a next generation front end testing tool built for the modern web."
            },
            {
                "label":"Debezium",
                "ring":1,
                "quadrant":3,
                "moved":0,
                "description":""
            },
            {
                "label":"Docker",
                "ring":0,
                "quadrant":2,
                "moved":0,
                "description":"Docker is an application for the building and sharing of containerized applications."
            },
            {
                "label":"ESLint",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"ESLint is a static code analysis tool for identifying problematic patterns found in JavaScript code."
            },
            {
                "label":"Firebase",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Flyway",
                "ring":1,
                "quadrant":3,
                "moved":0,
                "description":""
            },
            {
                "label":"Fortigate",
                "ring":0,
                "quadrant":2,
                "moved":0,
                "description":"Security"
            },
            {
                "label":"Git",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Git is a free and open source distributed version control system"
            },
            {
                "label":"Gitlab",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"GitLab is a version management web application for Git-based software projects"
            },
            {
                "label":"GraalVM",
                "ring":2,
                "quadrant":2,
                "moved":0,
                "description":""
            },
            {
                "label":"Grafana",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Groovy ",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":"Apache Groovy is a powerful, optionally typed and dynamic language"
            },
            {
                "label":"Gulp",
                "ring":3,
                "quadrant":0,
                "moved":0,
                "description":"Gulp is a task runner built on Node.js and npm, used for automation of time-consuming and repetitive tasks involved in web development like minification, concatenation, cache busting, unit testing, linting, optimization, etc."
            },
            {
                "label":"HA Proxy",
                "ring":3,
                "quadrant":2,
                "moved":0,
                "description":""
            },
            {
                "label":"Hoverfly",
                "ring":1,
                "quadrant":3,
                "moved":0,
                "description":""
            },
            {
                "label":"Icinga",
                "ring":3,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"i-doit (CMDB) & JDisc",
                "ring":2,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Instana",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Ionic",
                "ring":1,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"Jasmine + Karma",
                "ring":3,
                "quadrant":0,
                "moved":0,
                "description":"Jasmine is an open-source testing framework for JavaScript. It aims to run on any JavaScript-enabled platform, to not intrude on the application nor the IDE, and to have easy-to-read syntax."
            },
            {
                "label":"Java",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":"Java is our programming language."
            },
            {
                "label":"Javascript",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":"JavaScript is a programming language that conforms to the ECMAScript specification. JavaScript is one of the core technologies of the Web."
            },
            {
                "label":"Jenkins",
                "ring":3,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Jest ",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":"Jest is a JavaScript Testing Framework with a focus on simplicity."
            },
            {
                "label":"JFrog",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Enterprise Universal Repository Manager."
            },
            {
                "label":"JIB",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"Jira",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Organize Development, Operations and Others."
            },
            {
                "label":"jQuery",
                "ring":3,
                "quadrant":0,
                "moved":0,
                "description":"jQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as well as event handling, CSS animation, and Ajax."
            },
            {
                "label":"JUnit",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":"JUnit is a Java test framework"
            },
            {
                "label":"Kafka Connect",
                "ring":1,
                "quadrant":3,
                "moved":0,
                "description":""
            },
            {
                "label":"Kafka Streams",
                "ring":1,
                "quadrant":3,
                "moved":0,
                "description":""
            },
            {
                "label":"Keycloak",
                "ring":2,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"Kibana",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Kubernetes",
                "ring":0,
                "quadrant":2,
                "moved":0,
                "description":"Kubernetes is an open source system for automating the provision, scaling, and management of container applications."
            },
            {
                "label":"K8S EKS",
                "ring":0,
                "quadrant":2,
                "moved":0,
                "description":""
            },
            {
                "label":"K8S Rancher",
                "ring":3,
                "quadrant":2,
                "moved":0,
                "description":""
            },
            {
                "label":"Litmus",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Lodash",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Mandrill\/Mailchimp",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Maven",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"MongoDB",
                "ring":3,
                "quadrant":3,
                "moved":0,
                "description":""
            },
            {
                "label":"Mustache",
                "ring":3,
                "quadrant":0,
                "moved":0,
                "description":"Mustache is a \"logic-less\" templating system"
            },
            {
                "label":"MySQL",
                "ring":3,
                "quadrant":3,
                "moved":0,
                "description":""
            },
            {
                "label":"Nakivo",
                "ring":0,
                "quadrant":2,
                "moved":0,
                "description":"Backup Software"
            },
            {
                "label":"Neo4J",
                "ring":0,
                "quadrant":3,
                "moved":0,
                "description":"Neo4j is an open source graph database."
            },
            {
                "label":"Netsuite",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Nginx",
                "ring":0,
                "quadrant":2,
                "moved":0,
                "description":""
            },
            {
                "label":"Nightmare",
                "ring":3,
                "quadrant":0,
                "moved":0,
                "description":"Nightmare is a high-level browser automation library from Segment."
            },
            {
                "label":"Node.js",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":"As an asynchronous event-driven JavaScript runtime, Node.js is designed to build scalable network applications."
            },
            {
                "label":"Npm",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Opensense",
                "ring":0,
                "quadrant":2,
                "moved":0,
                "description":"Security"
            },
            {
                "label":"Opensearch",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Oracle",
                "ring":3,
                "quadrant":3,
                "moved":0,
                "description":""
            },
            {
                "label":"Pinia",
                "ring":2,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"Pirobase",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Playwright",
                "ring":2,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"PostCSS",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"PostCSS is a software development tool that uses JavaScript-based plugins to automate routine CSS operations."
            },
            {
                "label":"PostgreSQL",
                "ring":0,
                "quadrant":3,
                "moved":0,
                "description":"PostgreSQL is an object-oriented database system."
            },
            {
                "label":"Postman",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"API Development platform"
            },
            {
                "label":"Prometheus \/ CloudWatch",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Pug",
                "ring":3,
                "quadrant":0,
                "moved":0,
                "description":"Pug is a template engine for Node and for the browser. It compiles to HTML and has a simplified syntax."
            },
            {
                "label":"Quarkus",
                "ring":2,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"Rancher",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Redux",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":"Redux is an open-source JavaScript library for managing application state."
            },
            {
                "label":"Requirejs",
                "ring":3,
                "quadrant":0,
                "moved":0,
                "description":"RequireJS is a JavaScript file and module loader. It is optimized for in-browser use."
            },
            {
                "label":"Restdocs",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"Rx.js",
                "ring":3,
                "quadrant":0,
                "moved":0,
                "description":"RxJS is a library for composing asynchronous and event-based programs by using observable sequences."
            },
            {
                "label":"Scss",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Sass is a preprocessor scripting language that is interpreted or compiled into Cascading Style Sheets (CSS)."
            },
            {
                "label":"SonarQube",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"SQS",
                "ring":0,
                "quadrant":3,
                "moved":0,
                "description":""
            },
            {
                "label":"Spock",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":"Spock is a testing and specification framework for Java and Groovy applications"
            },
            {
                "label":"Spring",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":"Spring is an open source framework for the Java platform."
            },
            {
                "label":"SpringBoot",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":"Spring Boot is an open source Java-based framework used to create a micro service."
            },
            {
                "label":"Storybook",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Storybook is an open source tool for developing UI components and pages in isolation. It simplifies building, documenting, and testing UIs."
            },
            {
                "label":"Studio3T",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Studio 3T is the professional IDE, client, and GUI for MongoDB."
            },
            {
                "label":"Stylelint",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Stylelint is a modern linter that helps you avoid errors and enforce conventions in your styles."
            },
            {
                "label":"Swagger",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"Tailwind",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Tailwind is a utility-first CSS framework packed with predefined classes."
            },
            {
                "label":"Tealium",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Tag management"
            },
            {
                "label":"Terraform",
                "ring":0,
                "quadrant":2,
                "moved":0,
                "description":"infrastructure as code"
            },
            {
                "label":"testcontainers",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"thymeleaf",
                "ring":3,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"TypeScript",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":"TypeScript is an open-source language which builds on JavaScript, one of the world\u2019s most used tools, by adding static type definitions."
            },
            {
                "label":"Velocity",
                "ring":3,
                "quadrant":0,
                "moved":0,
                "description":"Velocity is a Java-based template engine. It permits web page designers to reference methods defined in Java code."
            },
            {
                "label":"Vite",
                "ring":2,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Vitest",
                "ring":2,
                "quadrant":0,
                "moved":0,
                "description":""
            },
            {
                "label":"VMWare VCenter \/ ESX",
                "ring":0,
                "quadrant":2,
                "moved":0,
                "description":"Virtualization"
            },
            {
                "label":"Vue.js",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":"Vue is a progressive framework for building user interfaces. Unlike other monolithic frameworks, Vue is designed from the ground up to be incrementally adoptable."
            },
            {
                "label":"Vuex",
                "ring":0,
                "quadrant":0,
                "moved":0,
                "description":"Vuex is a state management pattern and library for Vue.js applications. It serves as a centralized store for all the components in an application."
            },
            {
                "label":"Webpack",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":"Webpack is an open-source JavaScript module bundler. It is made primarily for JavaScript, but it can transform front-end assets such as HTML, CSS, and images if the corresponding loaders are included."
            },
            {
                "label":"Windi CSS",
                "ring":2,
                "quadrant":1,
                "moved":0,
                "description":""
            },
            {
                "label":"Yarn",
                "ring":0,
                "quadrant":1,
                "moved":0,
                "description":""
            }
        ]
        //ENTRIES
    });
</script>
</body>
</html>
